# =========================
# 1. Credentials & Secrets
# =========================
.env
.env.*.local

# =========================
# 2. Database & Massive Files
# =========================
docker_data/
datasets/*.csv
/tmp/

# =========================
# 3. Node.js (Express Servers)
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# 4. Java & Gradle (Spring Boot)
# =========================
.gradle/
build/
out/
target/
*.class
*.log

# =========================
# 5. IDEs & OS Files
# =========================
.idea/
*.iml
.DS_Store
Thumbs.db
